@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<header>
    <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>