@page "/admin/dashboard"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@inject Helpers.HttpAdminHelper Http
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Панель управления</PageTitle>

<h2>Панель управления - Администратор</h2>

<p>Добро пожаловать на панель управления!</p>