@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Главная страница</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h1 class="m-3">Привет, мир!</h1>
        </Authorized>
        <NotAuthorized>
            <div class="form-group">
                <div class="mb-3">
                    <h2>Отправить заявку на пользование системой</h2>
                </div>
                <a class="btn btn-success" href="application/create">Отправить заявку</a>
            </div>
            <div class="form-group">
                <div class="mb-3 mt-5">
                    <h2>Узнать статус заявки</h2>
                    <label class="form-label">Идентификатор заявки</label>
                    <input @bind="applicationId" placeholder="0000-0000-0000-0000-0000" class="form-control" />
                </div>
                <a class="btn btn-info" href="application/@applicationId">Посмотреть статус заявки</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Client">
        <Cas.SaaS.Client.Pages.Client.Dashboard></Cas.SaaS.Client.Pages.Client.Dashboard>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <Cas.SaaS.Client.Pages.Admin.DashboardAdmin></Cas.SaaS.Client.Pages.Admin.DashboardAdmin>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    public string? applicationId { get; set; }
}